@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



@font-face {
  font-family: 'Gilroy-bold';
  src: url('/fonts/gilroy-semibold.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-regular';
  src: url('/fonts/gilroy-regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


body {
  font-family: 'Gilroy-regular', sans-serif;
  
}

.bold {
  font-family: 'Gilroy-bold', sans-serif;
}



.scroll-container {
  overflow-y: hidden; /* Hide scrollbar by default */
  padding-right: 10px;
}

.scroll-container:hover {
  overflow-y: auto; /* Show scrollbar on hover */
  padding-right: 0;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --greyish: 195,5.41%,14.51%;
    --greyish-border: 191.75, 4.35%, 22.55%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --rings: "#ffffff";
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


.hoverbutton:hover {
  background-color: hsl(var(--greyish)); /* Darker shade for hover effect */
}


.gradientborder {
  padding: 2px;
  border-radius: 15px;
  background: linear-gradient(45deg, blue, purple);
  display: inline-block;
  border-color: hsl(var(--greyish));
}
.gradientborder-content {
  background: hsl(var(--greyish));
  border-radius: 14px;
}

@layer utilities {
  .scrollbar-thumb {
    @apply bg-gray-500 rounded-full;
  }

  .scrollbar-track {
    @apply bg-gray-200;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


table.rounded-corners {
  /* Change these properties */
  --border: 1px solid white;
  border-radius: 10px;
 
  /* Don't change these properties */
  border-spacing: 0;
  border-collapse: separate;
  border: var(--border);
  overflow: hidden;
 }
 
 /* Apply a border to the right of all but the last column */
 table.rounded-corners th:not(:last-child),
 table.rounded-corners td:not(:last-child) {
  border-right: var(--border);
 }
 
 /* Apply a border to the bottom of all but the last row */
 table.rounded-corners>thead>tr:not(:last-child)>th,
 table.rounded-corners>thead>tr:not(:last-child)>td,
 table.rounded-corners>tbody>tr:not(:last-child)>th,
 table.rounded-corners>tbody>tr:not(:last-child)>td,
 table.rounded-corners>tfoot>tr:not(:last-child)>th,
 table.rounded-corners>tfoot>tr:not(:last-child)>td,
 table.rounded-corners>tr:not(:last-child)>td,
 table.rounded-corners>tr:not(:last-child)>th,
 table.rounded-corners>thead:not(:last-child),
 table.rounded-corners>tbody:not(:last-child),
 table.rounded-corners>tfoot:not(:last-child) {
  border-bottom: var(--border);
 }